# --- DEPENDENCIAS ---
node_modules/
.pnp
.pnp.js

# --- PRODUCCIÓN / BUILDS ---
dist/
dist-ssr/
build/

# --- LOGS ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- VARIABLES DE ENTORNO (Seguridad) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# --- ARCHIVOS TEMPORALES Y CACHÉ ---
.eslintcache
.stylelintcache
.vite
.cache/

# --- EDITOR (VS Code / JetBrains) ---
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- ESPECÍFICO DEL PROYECTO ---
backup_sryle/
temp/