[submodule "price_feeds/evm/LendingPool/lib/forge-std"]
	path = price_feeds/evm/LendingPool/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "price_feeds/evm/lending_pool/lib/forge-std"]
	path = price_feeds/evm/lending_pool/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
