PYTH_API_KEY=RFta6yGNyTZLm1D2NTQ1XfYuslTBFBGahWe-cardano
PYTH_PREPROD_POLICY_ID=d799d287105dea9377cdf9ea8502a83d2b9eb2d2050a8aea800a21e6
NETWORK=Cardano PreProd
PYTH_LAZER_WS_URL=wss://api.pyth.network/ws
STOP_LOSS_THRESHOLD=0.35
ADA_USD_FEED_ID=0x2f95862b045670cd22bee3114c39763a4a08beeb663b145d283c31d7d1101c4f

# Supabase — PythGuard Project
VITE_SUPABASE_URL=https://tpsyugoddcmkvyfhddqo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwc3l1Z29kZGNta3Z5ZmhkZHFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMTEwMjAsImV4cCI6MjA4OTc4NzAyMH0.opXaTc14Ng-H19cClDD6SX486Q-5vqkLKgAfNZR2ZQ0
