[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "farcaster>=0.7.12",
    "flask>=3.1.2",
    "flask-cors>=6.0.1",
    "flask-socketio>=5.3.0",
    "python-socketio>=5.9.0",
]
