NEXT_PUBLIC_HAS_CONTRACT=true
NEXT_PUBLIC_HAS_PREDICATE=true
NEXT_PUBLIC_HAS_SCRIPT=true
NEXT_PUBLIC_FUEL_NODE_PORT=4000
NEXT_PUBLIC_DAPP_ENVIRONMENT=testnet
NEXT_PUBLIC_TESTNET_CONTRACT_ID=0x2d677c4ab5eccb59d20464fbc43fe70c3929d7f667048ddb33d057e3e9b8e61a
NEXT_PUBLIC_PYTH_TESTNET_CONTRACT_ID=0xcda57a8ab59090ab2b75d10e093af41a2ad9b7951a2805ab39100995c69f9b2a
NEXT_PUBLIC_HERMES_BTC_URL="https://hermes.pyth.network/v2/updates/price/latest?ids[]="
