name: "Lazer Anchor contract test"
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - lazer/solana-anchor/
      - .github/workflows/ci-lazer-anchor.yml

jobs:
  lazer-anchor-example-test:
    name: Lazer Anchor example contract test
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: lazer/solana-anchor/
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.82.0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: |
            recursive: false
            cwd: lazer/solana-anchor/
      - name: Install Solana Cli
        run: |
          sh -c "$(curl -sSfL https://release.anza.xyz/stable/install)"
          echo "$HOME/.local/share/solana/install/active_release/bin" >> "$GITHUB_PATH"
      - name: Set Solana Cli version
        run: agave-install init 1.18.26
      - name: Create Solana key
        run: solana-keygen new --no-bip39-passphrase
      - name: Install Anchor
        run: |
          rustup install 1.79.0
          rustup install nightly-2025-04-15
          RUSTFLAGS= cargo +1.79.0 install --git https://github.com/coral-xyz/anchor --tag v0.30.1 --locked anchor-cli
      - name: Run anchor tests
        run: pnpm run anchor:test
