APP_PUBLIC_NAME=guards.one
APP_INTERNAL_NAME=anaconda
PORT=4310

PYTH_API_KEY=replace_with_pyth_api_key
PYTH_PREPROD_POLICY_ID=d799d287105dea9377cdf9ea8502a83d2b9eb2d2050a8aea800a21e6
PYTH_API_BASE_URL=https://api.pyth.network
PYTH_STREAM_CHANNEL=fixed_rate@200ms
PYTH_PRIMARY_FEED_ID=pyth-ada-usd
CARDANO_PYTH_STATE_REFERENCE=replace_with_pyth_state_reference_utxo

CARDANO_NETWORK=preprod
CARDANO_PROVIDER=blockfrost
CARDANO_PROVIDER_URL=https://cardano-preprod.blockfrost.io/api/v0
CARDANO_BLOCKFROST_PROJECT_ID=replace_with_blockfrost_project_id
CARDANO_EXECUTION_ROUTE_ID=cardano-minswap-ada-usdm
CARDANO_EXECUTION_HOT_WALLET_ADDRESS=replace_with_execution_hot_wallet
CARDANO_EXECUTION_HOT_WALLET_SKEY_PATH=./secrets/execution-hot.skey
CARDANO_GOVERNANCE_WALLET_ADDRESS=replace_with_governance_wallet
CARDANO_GOVERNANCE_SKEY_PATH=./secrets/governance.skey

AUDIT_DB_PATH=./data/guards-one.sqlite
